.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
  background-color: #de5a48b3;
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___left {
  align-items: flex-start;
  background-color: #48de81b3;
  
}

.fighter-preview___fighter{
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 5px solid #ca9650;
}

.fighter-preview___fighter-name{
  text-align: center;
    font-size: 60px;
    margin: 2px 0;
    -webkit-text-stroke: 2px white;
    font-weight: bold;
    font-family: cursive;
}

.fighter-preview___fighter-image{
  max-height: 250px;
  align-self: center;
}
.fighter-preview___fighter-attack,
.fighter-preview___fighter-defense,
.fighter-preview___fighter-health{
  font-size: 32px;
  padding: 5px 0 0 10px;
  -webkit-text-stroke: 1px white;
  font-weight: bold;
  font-family: cursive;
}